<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="alert alert-success mb-0 text-center"><%= notice %></p>
    <% end %>
     <% if flash[:alert] %>
      <p class="alert alert-danger mb-0 text-center"><%= alert %></p>
    <% end %>
    <%= render 'layouts/nav' %>
    <%= yield %>
  </body>
</html>
